#1. Write a Python program to find sum of elements in list?

In [10]:
a = [2,3,5,1,2,3,4,5,3,2]
print(f"Total number of elements of list count up : {sum(a)}")

Total number of elements of list count up : 30

#2. Write a Python program to Multiply all numbers in the list?

In [30]:
def multiplyList(myList):
	total = 1
	for x in myList:
		total = total * x
	return total


list1 = [1, 2, 3]
print(multiplyList(list1))

6

#3. Write a Python program to find smallest number in a list?

In [44]:
def smallNumList(list1):
  min = list1[0]
  for x in list1:
    if x < min:
      min = x
    return min

list2 = [1,2,3,4,5,5.5,2]
print(smallNumList(list1))

1

#4. Write a Python program to find largest number in a list?

In [43]:
def myMax(list1):
	max = list1[0]
	for x in list1:
		if x > max:
			max = x
	return max

list2 = [1,2,3,4,5,5.5,2]
print("Largest element is:", myMax(list2))

Largest element is: 5.5

#5. Write a Python program to find second largest number in a list?

In [53]:
list2 = [1,2,3,4,5,5.5,2]
list2.sort()
print("The second largest number is :   " ,list2[-2])

The second largest number is :    5

#6. Write a Python program to find N largest elements from a list?

In [58]:

l = [1,3,4,2,78,55,24,23,22]
n = 2

l.sort()
print(l[-n:])

[55, 78]

#7. Write a Python program to print even numbers in a list?

In [83]:
l = [1,3,4,2,78,55,24,23,22]
for num in l:
  if num % 2 == 0:
    print(num)

4
2
78
24
22

#8. Write a Python program to print odd numbers in a List?

In [84]:
l = [1,3,4,2,78,55,24,23,22 , 88 ,22, 44 ,5 ,2 ,1 ,10, 108]
for num in l:
  if num %2 == 1:
    print(num)

1
3
55
23
5
1

#9. Write a Python program to Remove empty List from List?

In [92]:
list = [[1,2,3,4,] , [] , ["Hello"] , ["WOrld"] , []]

res = [ele for ele in list if ele != []]
print("After removing  : " + str(res))

After removing  : [[1, 2, 3, 4], ['Hello'], ['WOrld']]

#10. Write a Python program to Cloning or Copying a list?

In [95]:
def listCloning(lst):
  newList = lst[:]
  return(f'New list is {newList}')

list1 = [2,3,1,3,2,1,'hello']
print(listCloning(list1))

New list is [2, 3, 1, 3, 2, 1, 'hello']

#11. Write a Python program to Count occurrences of an element in a list?

In [98]:
li=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)
print("Original list: ",li)

n=int(input("Enter element to be checked list: "))

print(n," has occurred ",li.count(n),"times")

Enter size of list 3
Enter element of list 1
Enter element of list 2
Enter element of list 3
Original list:  [1, 2, 3]
Enter element to be checked list: 2
2  has occurred  1 times